<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Describe a dog</title>
</head>
<body>
    <h1>Describe a dog!!</h1>

    <form action="/dogs" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />

        <label for="breed">breed:</label>
        <input type="text" name="breed" id="breed" />

            <label for="age">age:</label>
            <input type="number" name="age" id="age" />

    <label for="isCute">Is the dog cute?</label>
    <input type="checkbox" name="isCute" id="isCute" />

    <button type="submit">Add Dog</button>
</body>
</html>